#!/bin/bash
set -e

REPO_BRANCH="${repo_branch}"
REPO_URL="${repo_url}"
SCRIPT_TO_RUN="${script_to_run}"

if [ "$REPO_BRANCH" = "" ]
then
  REPO_BRANCH="master"
fi
TRAVIS_BRANCH=$REPO_BRANCH
BRANCH_TO_TEST=$REPO_BRANCH

if [ "$REPO_URL" = "" ]
then
  echo "REPO_URL is empty! Nothing to clone"
else
  echo "Cloning $REPO_BRANCH branch of $REPO_URL to test directory ..."
  rm -rf test
  git clone -q -b $REPO_BRANCH $REPO_URL test
  echo "... done (cloning repository)"
fi

if [ "$SCRIPT_TO_RUN" = "" ]
then
  echo "SCRIPT_TO_RUN is empty! Nothing to run"
  exit 0
fi

if [ ! -f $SCRIPT_TO_RUN ]
then
  echo "Script $(pwd)/$SCRIPT_TO_RUN does not exist! Nothing to run"
  exit 0
fi

if [ "$REPO_URL" != "" ]
then
  echo "Copying $SCRIPT_TO_RUN to repositoty test directory ..."
  cp -f $SCRIPT_TO_RUN test/$SCRIPT_TO_RUN
  cd test
  echo "... done (copying script)"
fi

echo "Runing $(pwd)/$SCRIPT_TO_RUN ..."
. $SCRIPT_TO_RUN
echo "... done (running script)"
